# Build directories
build-android-so/
build-android-a/
build-android-bin/

# File temporanei di CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# File IDE
*.user
*.log
*.swp
*.swo
*.DS_Store

# Librerie precompilate eventualmente grandi
*.a
*.so
*.dll
*.exe

