.DS_Store
.build/
build/
/tags
.idea
.ycm_extra_conf.py
.ycm_extra_conf.pyc
build/src/Release
build/src/Debug
src/CMakeCache.txt
src/CMakeFiles/
src/Makefile
src/build/
src/cmake_install.cmake
*.swp
.vscode
cmake-build-debug
*.log
# Ignora i binari generati
/build-android-so/src/*.so
/build-android-so/src/mevacoind
/build-android-so/src/mevacoin-service
/build-android-so/src/xkrwallet*
/build-android-so/src/miner
